<header>

    <div class="logo">
        LETS GO ANIME
    </div>


    <nav>

        <a href="index.html">
            Home
        </a>

        <a href="shop.html">
            Shop
        </a>

        <a href="stream.html">
            Stream
        </a>

        <a href="art.html">
            Art
        </a>

        <a href="cart.html" class="cart-link">
            🛒 Cart
            <span id="cart-count">0</span>
        </a>

    </nav>


    <a
        href="auth.html"
        class="profile-link"
        id="profileLink">

        <img
            id="profileImage"
            src="images/default-profile.png"
            alt="Profile">

    </a>

</header>